.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 249px;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
}

.title {
  margin: 40px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
}
